[Unit]
Description=BuildKite Agent
After=docker.service
Requires=docker.service

[Service]
TimeoutStartSec=0
ExecStartPre=-/usr/bin/docker kill buildkite-%i
ExecStartPre=-/usr/bin/docker rm buildkite-%i
ExecStartPre=/usr/bin/docker pull quay.io/ivanvanderbyl/buildkite-agent-coreos:latest
ExecStart=/usr/bin/docker run -e BUILDKITE_AGENT_DEBUG=true -e BUILDKITE_AGENT_META_DATA=docker=true,frontend=true,queue=dashboard -e BUILDKITE_AGENT_TOKEN=cdcd277c09cc64852a538978fb4fff20e5e9cfb555d399f21b --name buildkite-%i -v /tmp/:/coreos-tmp/ -v /var/run/docker.sock:/var/run/docker.sock quay.io/ivanvanderbyl/buildkite-agent-coreos:latest

[Install]
WantedBy=multi-user.target

[X-Fleet]
Conflicts=buildkite-*
